{{#partial "content"}}

    <h1>HappyHour Event List!</h1>

    {{#if happyhours}}
        {{#each happyhours}}
            <li><a href="/happyhours/{{id}}">{{restaurantName}}</a></li>
            {{/each}}
        {{else}}
        <p>No Happy Hours to display!</p>
     {{/if}}
{{/partial}}
{{> layout.hbs}}