{{#partial "content"}}

    <h1>HappyHour Event List!</h1>

    {{#if neighborhoods}}
        {{#each neighborhoods}}
            <li>
            {{/each}}
     {{/if}}
{{/partial}}

{{> layout.hbs}}